@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary-color: #5d3533;
  --secondary-color: #eaa89b;
  --font-color: #f6d1d5;
  --accent-color: #b27d6a;
}

body {
  color: var(--font-color);
  font-family: var(--font-poppins);
  user-select: none;
  cursor: url("/cursor.svg") 4 12, auto;
}

.titleText {
  font-size: 30px;
  font-weight: 700;
}
.paraText {
  font-size: 18px;
  font-weight: 300;
}
svg:hover {
  cursor: pointer;
}
